numpy
pandas
scikit-learn
imbalanced-learn
joblib
matplotlib
seaborn
requests
jupyterlab
notebook
ipywidgets
ultralytics
torch
transformers
accelerate
safetensors
tensorflow
tensorflowjs
onnx
onnxruntime
